<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130330927832-oh935v5ftclan9gbllbqk5p8dpr3soqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130330927832-oh935v5ftclan9gbllbqk5p8dpr3soqv</string>
	<key>API_KEY</key>
	<string>AIzaSyCBa5bE8JM3pHRGL5nlfu4PdQX4rLhipbo</string>
	<key>GCM_SENDER_ID</key>
	<string>130330927832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xd.login</string>
	<key>PROJECT_ID</key>
	<string>login-10aad</string>
	<key>STORAGE_BUCKET</key>
	<string>login-10aad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130330927832:ios:6376567b968dc43bddedad</string>
</dict>
</plist>